In [1]:
# Import necessary libraries
import pandas as pd

# Load the dataset
df = pd.read_csv('realtor-data.zip.csv')

# Display the first few rows of the dataset to understand its structure
df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [3]:
# Check for missing values in the dataset
missing_values = df.isnull().sum()
missing_values_percentage = (df.isnull().sum() / df.shape[0]) * 100

pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage': missing_values_percentage
}).sort_values(by="Missing Values", ascending=False)

                Missing Values  Percentage
prev_sold_date          459101   50.731298
house_size              292886   32.364310
acre_lot                266642   29.464311
bed                     129840   14.347500
bath                    113884   12.584340
zip_code                   204    0.022542
city                        72    0.007956
price                       71    0.007846
status                       0    0.000000
state                        0    0.000000

In [4]:
# Fill missing values for prev_sold_date with 'Unknown'
df['prev_sold_date'].fillna('Unknown', inplace=True)

# Fill missing values for house_size, acre_lot, bed, and bath with their respective medians
columns_to_fill = ['house_size', 'acre_lot', 'bed', 'bath']
for column in columns_to_fill:
    median_value = df[column].median()
    df[column].fillna(median_value, inplace=True)

# Drop rows with missing values in zip_code, city, and price
df.dropna(subset=['zip_code', 'city', 'price'], inplace=True)

# Check if all missing values have been addressed
remaining_missing = df.isnull().sum()

remaining_missing

status            0
bed               0
bath              0
acre_lot          0
city              0
state             0
zip_code          0
house_size        0
prev_sold_date    0
price             0
dtype: int64

In [5]:
# Check for and remove duplicate rows
initial_row_count = df.shape[0]
df.drop_duplicates(inplace=True)
duplicates_removed = initial_row_count - df.shape[0]

duplicates_removed

794632

In [6]:
# Check data types
data_types = df.dtypes

# Check for any negative or unrealistic values in columns like price, house_size, bed, bath, and acre_lot
negative_values = {
    'price': df[df['price'] <= 0].shape[0],
    'house_size': df[df['house_size'] <= 0].shape[0],
    'bed': df[df['bed'] <= 0].shape[0],
    'bath': df[df['bath'] <= 0].shape[0],
    'acre_lot': df[df['acre_lot'] <= 0].shape[0]
}

data_types, negative_values

(status             object
 bed               float64
 bath              float64
 acre_lot          float64
 city               object
 state              object
 zip_code          float64
 house_size        float64
 prev_sold_date     object
 price             float64
 dtype: object,
 {'price': 4, 'house_size': 0, 'bed': 0, 'bath': 0, 'acre_lot': 88})

In [7]:
# Remove rows with negative or zero values in price and acre_lot
df = df[df['price'] > 0]
df = df[df['acre_lot'] > 0]

# Standardize text columns
df['status'] = df['status'].str.lower().str.strip()
df['city'] = df['city'].str.title().str.strip()
df['state'] = df['state'].str.upper().str.strip()

# Check the cleaned data
df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,PUERTO RICO,601.0,920.0,Unknown,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,PUERTO RICO,601.0,1527.0,Unknown,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,PUERTO RICO,795.0,748.0,Unknown,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,PUERTO RICO,731.0,1800.0,Unknown,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,PUERTO RICO,680.0,1650.0,Unknown,65000.0

In [8]:
# Save the cleaned dataset to a new CSV file
cleaned_file_path = "realtor-data-cleaned.csv"
df.to_csv(cleaned_file_path, index=False)

cleaned_file_path

'realtor-data-cleaned.csv'